{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <!-- 方式二 -->
        <input id="btnAdd" type="button" value="添加模板" class="btn btn-success">

        <input id="btnTemplate" type="button" value="生成模块库信息" class="btn btn-success">

        <div class="panel panel-default" style="margin-top: 30px;">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true">模板列表</span>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>id</th>
                    <th>模板名称</th>
                    <th>模板图片</th>
                    <th>圆心(x,y)像素坐标</th>
                    <th>刻度及其对应像素坐标</th>
                    <th>最大刻度值</th>
                    <th>配置0刻度线参数1</th>
                    <th>配置0刻度线参数2</th>
                    <th>刻度间隔</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>
                            <a href="/yibiao_ocr/{{ obj.img_template }}" target="_blank"><img src="/yibiao_ocr/{{ obj.img_template }}" style="height: 200px; width: 200px;"></a>
                        </td>
                        <td>({{ obj.c_x }},{{ obj.c_y }})</td>
                        <td style="word-wrap:break-word;word-break:break-all;">{{ obj.a }}</td>
                        <td>{{ obj.maxd }}</td>
                        <td>{{ obj.fir_d }}</td>
                        <td>{{ obj.sec_d }}</td>
                        <td>{{ obj.scale }}</td>
                        <td>
                            {#                            <a href="/model/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>#}
                            {#                            <a href="/model/del/?id={{ obj.id }}" class="btn btn-danger btn-xs">删除</a>#}

                            <!-- 在js中使用$(this).attr("uid");调用自定义值 -->
                            <input uid="{{ obj.id }}" type="button" value="编辑" class="btn btn-primary btn-xs btn-edit">
                            <input uid="{{ obj.id }}" type="button" value="删除" class="btn btn-danger btn-xs btn-delete">
                        </td>
                        <!--
                        <a href="/admin/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
{#                                                        <a href="/admin/{{ admin.id }}/up/" class="btn btn-primary btn-xs">编辑</a>#}
{#                                                        <a href="/admin/up/?id={{ user.id }}" class="btn btn-primary btn-xs">编辑</a>#}
                        <a href="/admin/del/?id={{ obj.id }}" class="btn btn-danger btn-xs">删除</a>
-->
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- 分页 -->

        <div class="clearfix">
            <ul class="pagination" style="float: left;">
                {{ page_string }}
            </ul>
        </div>

    </div>

    <!-- 新建或者编辑订单（对话框） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建</h4>
                </div>
                <div class="modal-body">
                    <form id="FormAdd" enctype="multipart/form-data" novalidate>  <!-- novalidate把游览器的校验关闭 -->
                        <div class="clearfix">
                            {% for field in form %}
                                {% if field.label == "刻度及其对应像素坐标" %}
                                    <div class="col-xs-12">
                                        <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                            <label>{{ field.label }}</label>
                                            {{ field }}    <!-- ModelForm在创建表单时会自动添加id="id_xxx" -->
                                            <span class="error-msg" style="position: absolute;color: red;"></span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-xs-6">
                                        <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                            <label>{{ field.label }}</label>
                                            {{ field }}    <!-- ModelForm在创建表单时会自动添加id="id_xxx" -->
                                            <span class="error-msg" style="position: absolute;color: red;"></span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {#                            <div class="col-xs-12">#}
                            {#                                <button id="btnAdd" type="button" class="btn btn-primary">添 加</button>#}
                            {#                            </div>#}
                        </div>
                        {% if img_name %}
                            <div class="form-group">
                                <img src="/yibiao_ocr/{{ img_name }}" style="height: 80px;">
                            </div>
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="btnSave" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除订单（对话框） -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确定删除?</h4>
                <!-- margin:10px 0;   上下为10px，左右为0 -->
                <p style="margin: 10px 0;"> 删除后，所有关联的相关数据都会被删除。</p>
                <p style="text-align: right;">
                    <button id="btnConfirm" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

        // 定义一个全局变量
        var DELETE_ID;
        var EDIT_ID;

        $(function () {
            // 弹出添加框来
            bindBtnAddEvent();
            // 向后端传递数据（新建订单 & 编辑订单）
            bindBtnSaveEvent();
            // 弹出删除框来
            bindBtnDeleteEvent();
            // 删除确认框
            bindBtnConfirmDeleteEvent();
            // 弹出编辑框来
            bindBtnEditEvent();

            // 生成模板库信息
            bindBtnTemplateEvent();
        })
        
        function bindBtnTemplateEvent() {
            $("#btnTemplate").click(function () {
                alert("模板库信息生成过程比较慢，请耐心等待....")
                $.ajax({
                    url: "/model/make_template_msg/",
                    type: "get",
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
                            alert("生成模板库成功");

                            // 用js实现页面刷新
                            location.reload();
                        }
                        else {
                            alert(res.msg);
                        }
                    }
                });
            })
        }

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                // 将正在编辑的id置为空
                EDIT_ID = undefined;

                // 新建订单时先清空对话框中的数据
                $("#FormAdd")[0].reset();
                $(".error-msg").empty();   //将错误提示置空

                // 添加模板时要上传图片
                $("#id_img_template").css("display","block");
                $("#id_img_template").prev().css("display","block");

                //设置对话框标题
                $("#myModalLabel").text("新建");

                // 点击新建订单按钮，显示对话框
                $('#myModal').modal('show');

            });
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {

                $(".error-msg").empty();   //将内容置空

                if (EDIT_ID) {
                    // 编辑
                    doEdit();

                } else {
                    // 添加
                    doAdd();
                }
            });
        }

        function doAdd() {

            var form = document.getElementById("FormAdd");//获取表单的数据
            var formdata = new FormData(form);//格式化表单数据
            // 向后台发送请求（添加的Ajax请求）
            $.ajax({
                url: "/model/add/",
                type: "post",
                async:false,//同步请求
                processData: false,// 不处理发送的数据
                contentType: false,// 不设置Content-Type请求头
                data: formdata,
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        {#alert("添加成功");#}

                        // 清空对话框中的数据
                        $("#FormAdd")[0].reset();

                        // 隐藏对话框
                        $('#myModal').modal('hide');

                        // 用js实现页面刷新
                        location.reload();

                    } else {
                        if(res.msg){
                            alert(res.msg);
                        }
                        else {
                            $.each(res.error, function (name, errorList) {
                            // errorList是因为错误信息是一个数组
                            // ModelForm会自动创建一个id，比如：id="id_title"
                            // next()是下一个标签
                            $("#id_" + name).next().text(errorList[0]);
                        })
                        }
                    }
                }
            });
        }

        function doEdit() {
            // 向后台发送请求（编辑的Ajax请求）
            $.ajax({
                url: "/model/edit/" + "?uid=" + EDIT_ID,
                type: "post",
                data: $("#FormAdd").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        {#alert("添加成功");#}

                        // 清空对话框中的数据
                        $("#FormAdd")[0].reset();

                        // 隐藏对话框
                        $('#myModal').modal('hide');

                        // 用js实现页面刷新
                        location.reload();

                    } else {
                        if(res.msg){
                            alert(res.msg);
                        }
                        else {
                            $.each(res.error, function (name, errorList) {
                            // errorList是因为错误信息是一个数组
                            // ModelForm会自动创建一个id，比如：id="id_title"
                            // next()是下一个标签
                            $("#id_" + name).next().text(errorList[0]);
                        })
                        }
                    }
                }
            });
        }

        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                // 显示删除对话框
                $('#deleteModal').modal('show');

                // 获取当前行的uid并赋值给全局变量
                DELETE_ID = $(this).attr("uid");
                // console.log(DELETE_ID);

            });
        }

        function bindBtnConfirmDeleteEvent() {
            $("#btnConfirm").click(function () {
                $.ajax({
                    // url: "/model/" + DELETE_ID +"/del/",   // 示例：/model/12/del/
                    url: "/model/del/",  // /model/del/?uid=12
                    type: "GET",
                    data: {
                        uid: DELETE_ID
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            // 删除成功，先将DELETE_ID置空
                            DELETE_ID = 0
                            // 删除成功直接用jS刷新页面
                            location.reload();
                        } else {
                            alert(res.error);
                        }
                    }
                });
            });
        }

        function bindBtnEditEvent() {
            $(".btn-edit").click(function () {
                // 编辑和添加共用一个对话框

                // 首先清空对话框的数据
                $("#FormAdd")[0].reset();
                $(".error-msg").empty();   //将错误提示置空

                //设置对话框标题
                $("#myModalLabel").text("编辑");

                // 编辑时不让用户对图片进行操作
                $("#id_img_template").prev().css("display","none");
                $("#id_img_template").css("display","none");

                //获取自己定义的uid
                var uid = $(this).attr("uid");
                EDIT_ID = uid;

                // 发送Ajax去后端获取当前行的相关数据  /model/detail/?uid=12
                $.ajax({
                    url: "/model/detail/",
                    type: "GET",
                    data: {
                        uid: uid,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            // console.log(res);

                            // 将数据赋值到对话框中的标签中。
                            $.each(res.data, function (name, value) {
                                // 因为ModelForm在创建input标签时会自动创建一个id="id_xxx"
                                $("#id_" + name).val(value);
                            })

                            //显示对话框
                            $("#myModal").modal('show');

                        } else {
                            alert(res.error);
                        }
                    }

                })
                // 显示对话框
                $('#myModal').modal('show');

            })
        }

    </script>
{% endblock %}